Repository DesktopGooseUnofficial/ResourceHub, pull requests merged in 2020-06, with the labels that each got.

#115 links are neat
  README.md
Labels: size/XS

#118 Discord time!
  README.md
Labels: size/XS

#116 Add Goose Messaging
  mods/GooseExploder.md
  mods/GooseMessaging.md
  mods/explore/mods.md
Labels: mods, size/M

#117 Create OnePunchGoose.md
  mods/OnePunchGoose.md
  mods/explore/mods.md
Labels: mods, size/M

#119 i added my mod and updated stuff
  mods/GooseMessaging.md
Labels: mods, size/S

#120 Update OnePunchGoose to v1.1
  mods/OnePunchGoose.md
Labels: mods, size/S

#122 Make the download button bigger? Just a thought :D
  README.md
Labels: size/S

#123 Update README.md
  README.md
Labels: size/XS

#125 discord changed my ping so i changed it too
  mods/GooseExploder.md
  mods/GooseMessaging.md
Labels: mods, size/XS
