Repository DesktopGooseUnofficial/ResourceHub, pull requests merged in 2020-02, with the labels that each got.

#8 Add mod creation info and update Sneaky Goose info
  info/modCreation.md
  mods/SneakyGoose.md
Labels: mods, tutorials

#9 Add modding info to homepage
  README.md
Labels: tutorials

#4 Add hatgoos tutorial
  mods/hatgoos.md
Labels: mods, tutorials

#11 Sound Mod Tutorial
  mods/ShaggysSoundControl.md
Labels: mods, tutorials

#12 Sneaky goose and Mad?'s Animal Facts
  mods/Mad's Animal Facts.md
  mods/ShaggysSoundControl.md
  mods/SneakyGoose.md
  mods/hatgoos.md
Labels: mods, tutorials

#15 for the LAST TIME, you DELETE the lines, not add an equals.
  info/modCreation.md
Labels: information

#16 Update Mad's Animal Facts.md
  mods/Mad's Animal Facts.md
Labels: mods

#17 Added Shaggys Image Cap Fix Mod
  README.md
  mods/ShaggysImageCapFix.md
Labels: mods

#18 Fixed Description of ShaggysImageCapFix mod
  mods/ShaggysImageCapFix.md
Labels: mods

#19 Created a Ban list/Tested games
  README.md
  info/GameTestList.md
Labels: information

#20 Added changelog
  mods/Mad's Facts.md
Labels: mods

#21 Highly configurable Goose without the Reddit part Included
  mods/HiConfGoose.md
  mods/MadsFacts.md
  mods/ShaggysSoundControl.md
  mods/SneakyGoose.md
  mods/hatgoos.md
Labels: mods

#22 add additional config info (thanks by the way y'all)
  mods/HiConfGoose.md
Labels: mods

#23 add very in-beta modloader
  mods/Quack.md
Labels: mods

#24 Added ShaggysModPack(GUI) to the repository
  README.md
  modpacks/ShaggysModPack(GUI).md
Labels: modpacks

#25 Fixed error with the markdown(Hopefully)
  README.md
  modpacks/ShaggysModPack_GUI.md
Labels: modpacks

#26 Update Quack (this should suffice, look over if you wish)
  mods/Quack.md
Labels: mods

#27 Bobbies Modded Desktop Goose tutorial
  mods/HiConfGoose.md
  mods/bobbies.md
  mods/hatgoos.md
Labels: mods

#30 Gamelist update
  info/GameTestList.md
Labels: information

#31 Minor Formatting Edits / Tutorials
  mods/HiConfGoose.md
  mods/MadsFacts.md
  mods/NabMouse.md
  mods/ShaggysImageCapFix.md
  mods/ShaggysNameMod.md
  mods/ShaggysSoundControl.md
  mods/SneakyGoose.md
  mods/bobbies.md
  mods/fastgoos.md
  mods/hatgoos.md
Labels: mods

#32 Compatibility/FAQ/Tutorial
  mods/HiConfGoose.md
  mods/MadsFacts.md
  mods/ShaggysImageCapFix.md
  mods/fastgoos.md
  mods/hatgoos.md
Labels: mods

#33 Added Mod Shaggys Config GUI
  README.md
  mods/ShaggysConfigGUI.md
Labels: mods

#34 Added Shaggys Nametag Mod
  README.md
  mods/ShaggysNametagMod.md
Labels: mods

#35 DiscoGoose PR
  README.md
  mods/DiscoGoose.md
Labels: mods

#36 Updated Roblox platform information.
  info/GameTestList.md
Labels: information

#38 Add Honcker mod
  mods/Honcker.md
Labels: mods

#39 Update DiscoGoose.md [added link for v1.2]
  mods/DiscoGoose.md
Labels: mods

#40 Add Color Picker Goose
  README.md
  mods/ColorPickerGoose.md
  mods/Honcker.md
Labels: mods

#41 helpful Information™ on property functions
  mods/Quack.md
Labels: mods

#42 look this over please i hope this is ok
  mods/Quack.md
Labels: mods

#43 uhm yup
  README.md
  mods/AcidGoose.md
Labels: mods

#48 Add SizzurpMods
  README.md
  mods/SizzurpMods.md
Labels: mods

#46 Update Hat Sample Pack Link + Added Mods Checklist
  README.md
  mods/AcidGoose.md
  mods/ColorPickerGoose.md
  mods/Honcker.md
  mods/Quack.md
  mods/deprecated/hatgoos.md
Labels: mods

#49 desktop goose v0.3 modpack
  README.md
  modpacks/DesktopGooseV3.0Mods.md
Labels: modpacks

#50 Add mod install guides
  README.md
  _includes/deprecated_install_guide.md
  _includes/install_guide.md
  info/ContentRatings.md
  mods/AcidGoose.md
  mods/Clicker.md
  mods/ColorPickerGoose.md
  mods/DiscoGoose.md
  mods/Honcker.md
  mods/NECC.md
  mods/Quack.md
  mods/ShaggysConfigGUI.md
  mods/ShaggysNametagMod.md
  mods/SizzurpMods.md
Labels: information, mods

#47 add hatgoos
  README.md
  mods/hatgoos.md
Labels: mods

#52 Short Hatgoos Tutorial
  mods/hatgoos.md
Labels: mods

#54 Added DragGoose
  mods/DragGoose.md
Labels: mods

#55 Update FAQ
  mods/hatgoos.md
Labels: mods

#61 GooseManager mod added
  README.md
  mods/GooseManager.md
Labels: mods

#63 GooseManager download link updated
  mods/GooseManager.md
Labels: mods

#64 Added BreadCrumbs Mod
  mods/BreadCrumbs.md
Labels: mods

#65 Author tag has changed
  mods/GooseManager.md
Labels: mods

#66 Added Usage Line To Bread Crumbs Mod
  mods/BreadCrumbs.md
Labels: mods

#70 Updated BreadCrumbs Mod
  mods/BreadCrumbs.md
Labels: mods

#72 change quack zip name
  mods/Quack.md
Labels: mods

#73 Updated Version Of BreadCrumbs
  mods/BreadCrumbs.md
Labels: mods

#74 Added Debugoose Mod
  mods/Debugoose.md
  mods/explore/mods.md
Labels: mods

#75 Create Ball.md
  mods/Ball.md
Labels: mods

#76 Sonigoose and Source Code
  mods/Debugoose.md
  mods/Sonigoose.md
  mods/explore/mods.md
Labels: mods

#77 Create BreadCrumbs-Config.md
  mods/BreadCrumbs-Config.md
Labels: mods

#79 Update debugoose page for v1.1
  mods/Debugoose.md
Labels: mods
